name: Publish - Compact.js
env:
  MIDNIGHTCI_PACKAGES_WRITE: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

permissions:
  contents: read
  issues: read
  id-token: write
  packages: write
  checks: write
  pull-requests: write
  
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      should_run:
        required: true
        type: string

concurrency:
  group: compact-js-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: inputs.should_run == 'true'
    uses: ./.github/workflows/ci-base.yaml
    with:
      workspace: compact-js
      create-package-artifacts: true
    secrets: inherit

  publish:
    needs: ci
    name: Publish Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # ratchet:actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # ratchet:actions/setup-node@v4
        with:
          always-auth: true
          registry-url: https://npm.pkg.github.com/
          scope: '@midnight-ntwrk'
          node-version-file: .nvmrc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
      
      - name: Publish Package Artifacts
        uses: ./.github/actions/publish-package-artifacts
        with:
          package-archive-name: 'compact-js'
          working-directory: ./compact-js
          auth-token: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}
