name: Publish - Compact.js
env:
  MIDNIGHTCI_PACKAGES_WRITE: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

permissions:
  contents: read
  issues: read
  id-token: write
  packages: write
  checks: write
  pull-requests: write
  
on:
  workflow_dispatch:
  workflow_call:
    inputs:
      should_run:
        required: true
        type: string

concurrency:
  group: compact-js-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: inputs.should_run == 'true'
    uses: ./.github/workflows/ci-base.yaml
    with:
      workspace: compact-js
      create-package-artifacts: true
    secrets: inherit

  publish:
    needs: ci
    name: Publish Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # ratchet:actions/checkout@v5
      
      - name: Publish Package Artifacts
        uses: ./.github/actions/publish-package-artifacts
        with:
          package-archive-name: 'compact-js'
          working-directory: './compact-js'
        secrets: inherit