name: CD
env:
  MIDNIGHTCI_PACKAGES_WRITE: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

permissions: {}

on:
  workflow_dispatch:
    inputs:
      workspace:
        type: choice
        description: The workspace to build and publish
        options:
          - platform-js
          - compact-js

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ inputs.workspace }}
  cancel-in-progress: true

jobs:
  cd-platformjs:
    name: Build and Publish Platform.js
    permissions:
      contents: read
      checks: write
      pull-requests: write
      packages: write
    uses: ./.github/workflows/cd-platform-js.yaml
    with:
      should_run: "${{ inputs.workspace == 'platform-js' && 'true' || 'false' }}"
    secrets: inherit

  cd-compactjs:
    name: Build and Publish Compact.js
    permissions:
      contents: read
      checks: write
      pull-requests: write
      packages: write
    uses: ./.github/workflows/cd-compact-js.yaml
    with:
      should_run: "${{ inputs.workspace == 'compact-js' && 'true' || 'false' }}"
    secrets: inherit
