name: CI - (base)
env:
  MIDNIGHTCI_PACKAGES_WRITE: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      workspace:
        type: string
        description: The workspace folder that should be the target of the workflow.
        required: true
      node-version-file:
        type: string
        required: false
        default: '.nvmrc' # Default to the Node.js version defined in the repo root.
      coverage-files:
        type: string
        required: false
        default: ''
      create-package-artifacts:
        type: boolean
        description: A flag indicating whether the compiled packages should be created and attached to the build.
        required: false
        default: false

jobs:
  ci:
    name: Build, Lint and Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    defaults:
      run:
        working-directory: ./${{ inputs.workspace }} # Workspace name has affinity to a folder in the root of the repo.
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # ratchet:actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Load environment variables
        run: |
          export $(grep -v '^#' .github/env/global.env | xargs)
          for var in $(cut -d= -f1 .github/env/global.env); do
            echo "$var=${!var}" >> $GITHUB_ENV
          done

      - name: Log in to GitHub Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # ratchet:docker/login-action@v3
        with:
          registry: 'https://ghcr.io'
          username: ${{ github.actor }}
          password: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # ratchet:actions/setup-node@v4
        with:
          always-auth: true
          registry-url: https://npm.pkg.github.com/
          scope: '@midnight-ntwrk'
          node-version-file: ${{ inputs.node-version-file }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Configure yarn
        run: yarn config set 'npmScopes.midnight-ntwrk.npmAuthToken' ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Cache Turbo and Yarn dependencies
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: |
            **/node_modules
            ~/.yarn
            .turbo
          key: turbo-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**/turbo.json') }}
          restore-keys: |
            turbo-${{ runner.os }}-

      - name: Install dependencies
        run: |
          yarn install

      - name: Run build
        run: yarn build --cache-dir ./turbo
        env:
          GITHUB_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Run linter
        run: yarn lint

      - name: Run tests
        run: |
          yarn test --concurrency 1 --cache-dir ./turbo
        env:
          GITHUB_TOKEN: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

      - name: Aggregate coverage reports
        run: |
          mkdir -p .nyc_output
          find . -type f -name 'coverage-final.json' -exec cp {} .nyc_output/ \;
          npx --yes nyc merge .nyc_output coverage.json
          npx --yes nyc report --reporter=html --report-dir=coverage --temp-dir=.nyc_output
          rm -rf .nyc_output

      - name: Merge report as ZIP
        run: |
          #ArtiomTr/jest-coverage-report-action@v2 has a bug, this is temp solution
          mv coverage coverage_$(date +"%Y%m%d%H%M%S")
          zip -r coverage-${{ inputs.workspace }}.zip coverage*

      - name: Upload Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # ratchet:actions/upload-artifact@v4
        with:
          name: Coverage Report ${{ inputs.workspace }}
          path: ${{ inputs.workspace }}/coverage-${{ inputs.workspace }}.zip

      - name: Publish Test Coverage
        if: ${{ inputs.coverage-files }} # Publish the comment if we have received coverage files
        uses: MishaKav/jest-coverage-comment@174f9cbf582b7cc2a7a3acce14dcfc8362e9d37f # ratchet:MishaKav/jest-coverage-comment@v1
        with:
          hide-comment: false
          unique-id-for-comment: ${{ inputs.workspace }}-coverage
          multiple-files: ${{ inputs.coverage-files }}

      - name: Pack and Upload Package Artifacts
        if: ${{ inputs.create-package-artifacts }}
        uses: ./.github/actions/create-package-artifacts
        with:
          package-archive-name: ${{ inputs.workspace }}
          working-directory: ./${{ inputs.workspace }}
