name: CI - Platform.js
env:
  MIDNIGHTCI_PACKAGES_WRITE: ${{ secrets.MIDNIGHTCI_PACKAGES_WRITE }}

permissions: {}

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      should_run:
        required: true
        type: string

concurrency:
  group: platform-js-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    if: inputs.should_run == 'true'
    permissions:
      contents: read
      checks: write
      pull-requests: write
    uses: ./.github/workflows/ci-base.yaml
    with:
      workspace: platform-js
      coverage-files: |
        platform-js, ./platform-js/platform-js/coverage/coverage-summary.json
    secrets: inherit
